@import 'media-queries';

@font-face {
  font-family: ProximaNovaLight;
  src: url(fonts/ProximaNova-Light.otf);
  font-weight: lighter;
}

@font-face {
  font-family: ProximaNovaBold;
  src: url(fonts/ProximaNova-Bold.otf);
  font-weight: bold;
}

@font-face {
  font-family: GothamLight;
  src: url(fonts/GOTHAM-LIGHT_0.ttf);
  font-weight: bold;
}

@font-face {
  font-family: GothamThin;
  src: url(fonts/Gotham-Thin.otf);
}

@font-face {
  font-family: GeorgiaBold;
  src: url(fonts/georgiab.ttf);
  font-weight: bold;
}

$white: white;
$brown: #A17644;
$grey-light: #7B8084;

@mixin background-img($parameters) {
  background: $parameters center center no-repeat;
  background-size: cover;
}

* {
  padding: 0;
  margin: 0;
}

html, body {
  width: 100%;
  height: 100%;
  font-size: 17px;
  color: $grey-light;
  font-family: ProximaNovaLight;
}
h1 {
  font-family: GothamThin;
  color: $white;
  font-size: 4em;
  line-height: 30em;
  letter-spacing: 0.2em;
  margin-left: 15%;
  height: 250px;
  overflow: hidden;
  transform-origin: 0% 80%;
  @include media(">tablet", "<=desktop-large") {
    margin-left: 105px;
  }
  @include media(">phone", "<=tablet") {
    font-size: 2.6em;
    letter-spacing: 3px;
    margin-top: 10px;
  }
  @include media(">320px", "<=phone") {
    display: flex;
    font-size: 2.6em;
    letter-spacing: 3px;
    margin-top: 10px;
    text-align: center;
    justify-content: center;
  }
  @include media (">320px", "<=tablet") {
    line-height: 1em;
  }
}

.shadow {
  box-shadow: 0 0 8px 3px rgba(0,0,0,0.2);
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.brown-content {
  color: $brown;
  font-family: ProximaNovaBold;
}

.grey-content {
  font-family: ProximaNovaBold;
}

.border-button {
  position: absolute;
  background-color: $white;
  z-index: 2;
  transition: background-color 0.1s;
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  &:first-child, &:nth-child(2) {
    top: 0;
    left: 0;
  }
  &:nth-child(3), &:nth-child(4) {
    bottom: 0;
    right: 0;
  }
  &:first-child, &:nth-child(3){
    width: 100%;
    height: 2px;
  }
  &:nth-child(2), &:nth-child(4) {
    height: 100%;
    width: 2px;
  }
  &:first-child {
    transform: translate3d(100%, 0, 0);
  }
  &:nth-child(2) {
    transform: translate3d(0, 100%, 0);
  }
  &:nth-child(3) {
    transform: translate3d(-100%, 0, 0);
  }
  &:nth-child(4) {
    transform: translate3d(0, -100%, 0);
  }
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:    $white;
  letter-spacing: 3px;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    $white;
  opacity:  1;
  letter-spacing: 3px;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    $white;
  opacity:  1;
  letter-spacing: 3px;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:    $white;
  letter-spacing: 3px;
}
::-ms-input-placeholder { /* Microsoft Edge */
  color:    $white;
  letter-spacing: 3px;
}

header {
  position: relative;
  display: flex;
  height: 100vh;
  opacity: 0;
  @include background-img(url('img/1500_big_pic_01.jpg'));
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 220px;
  @include media (">desktop", "<=desktop-large") {
    @include background-img(url('img/1200_big_pic_01.jpg'));
  }
  @include media (">tablet-large", "<=desktop") {
    @include background-img(url('img/850_big_pic_01.jpg'));
  }
  @include media (">tablet", "<=tablet-large") {
    @include background-img(url('img/750_big_pic_01.jpg'));
    margin-bottom: 455px;
  }
  @include media(">320px", "<=tablet") {
    @include background-img(url('img/500_big_pic_01.jpg'));
    margin-bottom: 312px;
  }
  @include media(">320px", "<=phone") {
    margin-bottom: 182px;
  }
  h1 {
    opacity: 0;
    margin: 0 auto 350px auto;
    line-height: 1em !important;
    height: 100px;
    img {
      width: 198px;
    }
    @include media(">tablet-large", "<=desktop") {
      margin-bottom: 80%;
    }

    @include media(">320px", "<=tablet-large") {
      position: absolute;
      top: 150px;
      left: calc(50% - 99px);
      font-size: 2em;
    }
    @include media(">phone", "<=tablet") {
      top: 270px;
      height:auto;
      left: calc(50% - 120px);
      img {
        width: 240px;
      }
    }
    @include media(">tablet", "<=tablet-large") {
      top: 260px;
      height:auto;
      left: calc(50% - 150px);
      img {
        width: 300px;
      }
    }
  }
  .white-container {
    display: flex;
    height: 232px;
    width: 662px;
    background-color: #E0DAD8;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: -170px;
    transform: translate3d(0, 650px, 0);
    @include media (">desktop", "<=desktop-large") {
      margin-bottom: -190px;
    }
    @include media(">320px", "<=tablet-large") {
      background-color: $white;
    }
    @include media (">tablet", "<=tablet-large") {
      width: 100%;
      margin-bottom: -340px;
    }
    @include media(">phone", "<=tablet") {
      margin-top: 0;
      margin-bottom: -290px;
    }
    @include media(">phone", "<=tablet") {
      margin-top: 0;
    }
    @include media (">320px", "<=tablet") {
      transform: none;
    }
      div {
        display: flex;
        height: 100%;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        p {
          width: 480px;
          margin: 0 auto;
          line-height: 1.2em;
          font-size: 1em;
          padding-left: 60px;
          box-sizing: border-box;
          &:first-child {
            margin-bottom: 15px;
          }
          @include media(">phone", "<=tablet-large") {
            font-size: 1.4em;
            width: 80%;
            br {
              content: ' ';
            }
          }
          @include media(">phone", "<=tablet") {
            font-size: 1em;
            padding-left: 20px;
          }
          @include media(">320px", "<=phone") {
            font-size: 0.8em;
            padding-left: 20px;
            width: 80%;
            br {
              content: ' ';
            }
          }
        }
        @include media(">phone", "<=tablet") {
          height: auto;
        }
      }

    img {
      height: 232px;
      width: 182px;
      @include media (">tablet", "<=tablet-large") {
        height: 386px;
        width: 304px;
      }
      @include media (">phone", "<=tablet") {
        height: auto;
        width: 210px;
      }
      @include media (">320px", "<=phone") {
        height: auto;
        width: 130px;
      }
    }
    @include media(">320px", "<=tablet") {
      height: auto;
      width: 100%;
    }
  }
}

.the-bamboo-straws {
  height: auto;
  width: 100%;
  @include media (">320px", "<=tablet-large") {
    margin-top: 30px;
  }
  .the-bamboo-title-container {
    display: flex;
    position: relative;
    height: 594px;
    width: 100%;
    @include background-img(url('img/1500_big_pic_02.jpg'));
    flex-direction: column;
    justify-content: space-between;
    @include media (">desktop", "<=desktop-large") {
      @include background-img(url('img/1200_big_pic_02.jpg'));
    }
    @include media (">tablet-large", "<=desktop") {
      @include background-img(url('img/850_big_pic_02.jpg'));
    }
    @include media (">tablet", "<=tablet-large") {
      @include background-img(url('img/750_big_pic_02.jpg'));
    }
    @include media(">320px", "<=tablet") {
      @include background-img(url('img/500_big_pic_02.jpg'));
      height: 500px;
      margin-bottom: 0;
    }
    h1, p:nth-child(2) {
      margin-left: 14%;
      @include media(">desktop", "<=desktop-large") {
        margin-left: 105px;
      }
      @include media (">tablet", "<=tablet-large") {
        margin-left: 45px;
      }
    }
    h1 {
      margin-top: 58px;
      @include media (">320px", "<=phone") {
        margin-left: auto;
        margin-right: auto;
      }
    }
    p:nth-child(2) {
      position: relative;
      width: 440px;
      font-family: ProximaNovaBold;
      font-size: 1.4em;
      margin-bottom: 70px;
      color: $white;
      opacity: 1;
      overflow: hidden;
      @include media(">tablet-large", "<=desktop") {
        font-size: 1em;
      }
      @include media (">320px", "<=tablet-large") {
        width: 580px;
        margin-bottom: -75px;
        color: $grey-light;
        font-size: 1.2em;
      }
      @include media (">320px", "<tablet") {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: -40px;
        margin-left: auto;
        margin-right: auto;
        width: 320px;
      }
      @include media (">320px", "<phone") {
        font-size: 1em;
      }
      @include media (">tablet", "<=tablet-large") {
        width: 380px;
      }
      &:after {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: $white;
        content: '';
        transform: translate3d(-1000px, 0, 0);
        transition: .8s ease-out;
      }
      span {
        opacity: 0;
        transition: .3s ease-out;
        @include media (">320px", "<=tablet") {
          opacity: 1;
        }
      }
      @include media(">phone", "<=tablet") {
        font-size: 1em;
      }
      .afterLeftIn {
        &:after {
          transform: translate3d(-1000px, 0, 0);
        }
        span {
          opacity: 1;
        }
      }
    }
    @include media(">phone", "<=tablet") {
      height: 350px;
    }
  }
  .grey-content-container {
    position: relative;
    height: 0;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    @include media (">320px", "<tablet") {
      margin-right: 0;
    }
    .white-square {
      display: flex;
      position: absolute;
      height: 230px;
      width: 346px;
      right: -300px;
      top: -130px;
      background-color: $white;
      align-items: center;
      justify-content: center;
      font-size: 2em;
      opacity: 1;
      z-index: 400;
      transform: scale(0);
      border: none;
      color: $grey-light;
      @include media (">tablet", "<=tablet-large") {
        height: 198px;
        width: 298px;
        top: -48px;
      }
      @include media (">320px", "<tablet") {
        height: 115px;
        width: 177px;
        font-size: 1.2em;
        right: -2px;
        top: -112px;
        transform: none;
      }
    }
  }
  .card-container {
    margin-top: 60px;
    margin-bottom: -159px;
    @include media(">tablet", "<=tablet-large") {
      margin-top: 112px;
    }
    @include media(">320px", "<=phone") {
      width: 100%;
      margin: 66px 0 0 0;
      display: flex;
      justify-content: space-between;
    }
    .card {
      position: relative;
      display: flex;
      height: 373px;
      width: 248px;
      align-items: flex-end;
      margin: 0 5px;
      transform: translate3d(0, 100%, 0);
      @include media (">320px", "<=tablet") {
        transform: translate3d(0, 0, 0);
      }
      @include media(">320px", "<=phone") {
        width: 32%;
        height: 245px;
      }
      &:first-child {
        @include background-img(url('img/all_small_pic_02.jpg'));
      }
      &:nth-child(2) {
        @include background-img(url('img/all_small_pic_03.jpg'));
      }
      &:last-child {
        @include background-img(url('img/all_small_pic_04.jpg'));
      }
      p {
        margin: 20px;
        padding-top: 7px;
        font-size: 30px;
        color: $white;
        font-family: ProximaNovaLight;
        border-top: 1px solid $white;
        @include media(">320px", "<=phone") {
          font-size: 0.9em;
          margin-left: 8px;
        }
      }
    }
    @include media(">phone", "<=tablet") {
      margin-bottom: 0;
    }
  }
}

.the-bamboo-straws .the-bamboo-title-container p:nth-child(2).afterLeftIn:after {
  transform: translate3d(0, 0, 0) !important;
}
.the-bamboo-straws .the-bamboo-title-container p:nth-child(2).afterRightOut span {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
.the-bamboo-straws .the-bamboo-title-container p:nth-child(2).afterRightOut:after {
  transform: translate3d(700px, 0, 0) !important;
}

.purchase {
  display: flex;
  height: 956px;
  width: 100%;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  @include background-img(url('img/1500_big_pic_03.jpg'));
  @include media (">desktop", "<=desktop-large") {
    @include background-img(url('img/1200_big_pic_03.jpg'));
  }
  @include media (">tablet-large", "<=desktop") {
    @include background-img(url('img/850_big_pic_03.jpg'));
  }
  @include media (">tablet", "<=tablet-large") {
    @include background-img(url('img/750_big_pic_03.jpg'));
    height: 449px;
    margin-top: 200px;
  }
  @include media(">320px", "<=tablet") {
    @include background-img(url('img/500_big_pic_03.jpg'));
    height: 356px;
    margin: 32px 0;
  }
  a {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    width: 640px;
    height: 50px;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 8px;
    overflow: hidden;
    border-color: $white;
    border-width: 0;
    border-style: solid;
    transition: .3s opacity, .1s border-width, .3s box-shadow;
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    margin-top: 100px;
    @include media(">320px", "<=tablet") {
      width: 340px;
      font-size: 1em;
      letter-spacing: 2px;
    }
    span {
      &:nth-child(2) {
        width: 3px;
      }
      &:last-child {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255,255,255,0.8);
        border: 2px solid rgba(255,255,255,0);
        color: $grey-light;
        transition: opacity .8s, transform .5s;
        transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
        transform: translate3d(0, 0, 0);
        opacity: 1;
      }
    }
    &:hover {
      color: $grey-light;
      background-color: rgba(0,0,0,0.5);
    }
    &::after {
      content: attr(data-text);
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0;
      color: $white;
      -webkit-transform: translate3d(0, 25%, 0);
      transform: translate3d(0, 25%, 0);
      transition: .5s all;
      transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    }
  }
}

.purchase a:hover {
  box-shadow: 0 0 0 0 rgba(0,0,0,0.5);
  border-width: 2px;
}

.purchase a:hover::after {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.purchase a:hover span:last-child{
  opacity: 0;
  -webkit-transform: translate3d(0, -1000px, 0);
  transform: translate3d(0, -100%, 0);
}

.purchase a:hover .border-button {
  background-color: rgba(0,0,0,0);
}



.the-change {
  .the-change-title-container {
    position: relative;
    height: 594Px;
    @include background-img(url('img/1500_big_pic_04.jpg'));
    padding-top: 10px;
    @include media (">desktop", "<=desktop-large") {
      @include background-img(url('img/1200_big_pic_04.jpg'));
    }
    @include media (">tablet-large", "<=desktop") {
      @include background-img(url('img/850_big_pic_04.jpg'));
    }
    @include media (">tablet", "<=tablet-large") {
      @include background-img(url('img/750_big_pic_04.jpg'));
    }
    @include media(">320px", "<=tablet") {
      @include background-img(url('img/500_big_pic_04.jpg'));
    }
    @include media(">320px", "<=tablet-large") {
      height: 500px;
    }
    .the-change-title-container {
      @include media(">320px", "<=phone") {
        margin-bottom: 180px;
      }
    }
    h1 {
      margin-top: 58px;
      @include media(">phone", "<=tablet-large") {
        margin-top: 32px;
        margin-left: 45px;
      }
      @include media(">320px", "<=phone") {
        display: flex;
        width: 250px;
        margin-top: 32px;
        margin-left: auto;
        margin-right: auto;
      }
    }
    p {
      position: absolute;
      height: 178px;
      width: 657px;
      bottom: -150px;
      left: calc(50% - 328.5px);
      background-color: $white;
      box-sizing: border-box;
      padding: 45px 100px;
      font-size: 1.1em;
      transform: scale(0);
      @include media(">320px", "<=tablet") {
        transform: scale(1);
      }
      @include media(">320px", "<=tablet-large") {
        width: 90%;
        height: 130px;
        left: 5%;
        padding: 15px 20px;
        .break-none {
          content: ' ';
        }
      }
      @include media(">320px", "<=tablet-large") {
        bottom: -130px;
        height: auto;
        width: 90%;
      }
      @include media(">tablet", "<=tablet-large") {
        font-size:1.3em;
      }
    }
  }
  .card-container {
    display: flex;
    height: auto;
    background-color: #f0f0f0;
    margin-top: 20px;
    padding-top: 160px;
    padding-bottom: 40px;
    box-sizing: border-box;
    .card {
      width: 227px;
      margin: 0 5px;
      transform: translate3d(0, 1000px, 0);
      @include media(">320px", "<=tablet") {
        transform: translate3d(0, 0, 0);
      }
      h2 {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: 227px;
        @include background-img(url('img/all_small_pic_05.jpg'));
        padding-bottom: 15px;
        box-sizing: border-box;
        font-family: GothamBold;
        color: $white;
      }
      &:nth-child(2) {
        h2 {
          @include background-img(url('img/all_small_pic_06.jpg'));

        }
      }
      &:last-child {
        h2 {
          @include background-img(url('img/all_small_pic_07.jpg'));
        }
      }
      p {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        background-color: $white;
        height: 162px;
        box-sizing: border-box;
        padding: 25px;
        font-family: ProximaNovaLight;
      }
    }
    @include media(">320px", "<=tablet-large") {
      display: flex;
      width: 88%;
      margin-left: auto;
      margin-right: auto;
      height: auto;
      background-color: $white;
      flex-direction: column;
      padding-top: 120px;
      .card {
        display: flex;
        height: 200px;
        width: 100%;
        background-color: #f0f0f0;
        margin: 5px 0;
        h2 {
          width: 200px;
          height: 200px;
        }
        p {
          height: 100%;
          width: calc(100% - 150px);
          align-items: center;
          background-color: rgba(0,0,0,0);
          font-size: 1.3em;
          padding: 25px 55px;
        }
      }
    }
    @include media(">320px", "<=phone") {
      .card {
        height: 150px;
        h2 {
          width: 150px;
          height: 150px;
          font-size: 1.1em;
        }
        p {
          height: 100%;
          align-items: center;
          background-color: rgba(0,0,0,0);
          font-size: 1em;
          padding: 25px;
        }
      }
    }
  }
}

.use-of-bamboo-straws {
  width: 100%;
  .title-container {
    height: 594px;
    margin-left: 0 !important;
    margin-bottom: -23px;
    padding-top: 58px;
    @include background-img(url('img/1500_big_pic_05.jpg'));
    @include media (">desktop", "<=desktop-large") {
      @include background-img(url('img/1200_big_pic_05.jpg'));
    }
    @include media (">tablet-large", "<=desktop") {
      @include background-img(url('img/850_big_pic_05.jpg'));

    }
    @include media (">tablet", "<=tablet-large") {
      @include background-img(url('img/750_big_pic_05.jpg'));
    }
    @include media(">320px", "<=tablet") {
      @include background-img(url('img/500_big_pic_05.jpg'));
      height: 500px;
    }
    @include media(">tablet-large", "<=desktop"){
      height: 558px;
    }
    @include media(">phone", "<=tablet-large") {
      padding-top: 32px;
      h1 {
        margin-left: 45px;
      }
    }
    @include media(">320px", "<=phone") {
      padding-top: 32px;
      h1 {
        margin-left: 0;
      }
    }
  }
  .photo-container-1, .photo-container-2 {
    display: flex;
    position: relative;
    height: auto;
    width: 715px;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    @include media (">phone", "<=tablet-large") {
      img {
        display: none;
      }
      .smallDevicesImg {
        display: inline;
      }
      .displayAllTime {
        display: inline !important;
      }
    }
    div {
      background-color: $white;
      box-sizing: border-box;
      h2 {
        margin-bottom: 5px;
        letter-spacing: 3px;
      }
      p {
        line-height: 1.2em;
      }
    }
    img {
      height: auto;
      margin-left: 6px;
      margin-right: 6px;
      transform: translate3d(0, -900px, 0);
      opacity: 0;
      display: inline;
      @include media(">320px", "<=tablet") {
        transform: translate3d(0, 0, 0);
        opacity: 1;
      }
    }
    .smallDevicesImg {
      display: none;
    }
    @include media(">320px", "<=tablet-large") {
      width: 100%;
      flex-wrap: wrap;
    }
  }
  .photo-container-1 {
    padding-top: 100px;
    @include media(">320px", "<=tablet-large") {
      padding-top: 36px !important;
    }

    div:first-child {
      position: absolute;
      height: 228px;
      width: 228px;
      top: 0;
      left: 26px;
      padding: 30px 50px 0 50px;
      transform: scale(0);
      z-index: 400;
      box-sizing: border-box;
      @include media(">320px", "<=tablet") {
        transform: scale(1);
      }
      @include media(">320px", "<=tablet-large") {
        position: relative;
        z-index: 0;
      }
      @include media(">tablet", "<=tablet-large") {
        left: 0;
        top: 0;
        padding: 80px 50px 0 50px;
        height: 350px !important;
        width: 350px !important;
        margin: 5px;
        p {
          font-size: 1.4em;
        }
      }
      @include media(">phone", "<=tablet") {
        width: 244px !important;
        margin: 5px !important;
        top: 0;
        left: 0;
        padding: 40px 30px 0 30px;
        p {
          font-size: 1em;
        }
      }
      @include media(">320px", "<=phone") {
        top: 0;
        left: 0;
        height: auto;
        padding: 20px 30px 20px 30px;
      }
      @include media(">tablet", "<=tablet-large") {
        left: 0;
        top: 0;
        padding: 80px 50px 0 50px;
        height: 350px !important;
        width: 49%;
        margin: 5px;
        p {
          font-size: 1.2em;
        }
      }
    }
    img {
      &:nth-child(2) {
        margin-top: 102px;
        width: 270px;
        height: 268px;
      }
      &:nth-child(3) {
        margin-top: -10px;
        width: 185px;
        height: 371px;
      }
      &:nth-child(4) {
        margin-top: 35px;
        width: 224px;
        height: 327px;
      }
      @include media(">tablet", "<=tablet-large") {
        min-height: 350px;
        height: auto !important;
        max-height: 500px;
        width: 350px !important;
        margin: 5px !important;
      }
      @include media(">320px", "<=tablet") {
        width: 244px !important;
        margin: 5px !important;
        height: 450px !important;
        &:nth-child(2) {
          height: auto !important;
        }
      }
    }

  }
  .photo-container-2 {
    margin: 0 auto;
    flex-wrap: wrap;
    div {
      height: 157px;
      width: 100%;
      padding: 25px 50px 0 50px;
      opacity: 0;
      @include media(">320px", "<=tablet") {
        opacity: 1;
      }
    }
    img {
      width: 223px;
      height: 223px;
    }
    @include media (">tablet", "<=tablet-large") {
      height: auto;
      margin-top: 5px;
      div, img {
        height: 350px;
        width: 350px;
        margin: 5px !important;
      }
      div {
        padding: 25px 20px 0 20px;
      }
      p {
        font-size: 1.4em;
      }
    }
    @include media (">320px", "<=tablet") {
      div, img {
        height: 244px;
        width: 244px;
        margin: 5px !important;
      }
      div {
        padding: 25px 20px 0 20px;
      }
      p {
        font-size: 1em;
      }
    }
  }
}

.about-us {
  position: relative;
  height: 1160px;
  @include background-img(url('img/1500_big_pic_06.jpg'));
  margin-top: 52px;
  padding: 70px 0;
  @include media (">desktop", "<=desktop-large") {
    @include background-img(url('img/1200_big_pic_06.jpg'));
  }
  @include media (">tablet-large", "<=desktop") {
    @include background-img(url('img/850_big_pic_06.jpg'));
  }
  @include media (">tablet", "<=tablet-large") {
    @include background-img(url('img/750_big_pic_06.jpg'));
    margin-top: 30px;
    padding: 45px 0;
    height: auto;
    overflow-x: hidden;
  }

  @include media(">320px", "<=tablet") {
    @include background-img(url('img/500_big_pic_06.jpg'));
  }

  @include media(">320px", "<=tablet-large") {
    margin-top: 30px;
    padding: 45px 0;
    height: auto;
    overflow-x: hidden;
  }
  h1 {
    height: 80px;
    margin-bottom: 100px;
    @include media (">320px", "<=tablet-large") {
      margin-top: 30px;
      margin-left: 45px;
    }
    @include media (">320px", "<=tablet") {
       margin-bottom: 10px;
    }
    @include media (">320px", "<=phone") {
      margin-left: 0;
    }

  }
  .white-container {
    position: absolute;
    width: 2px;
    height: 0;
    left: 50%;
    top: 0;
    z-index: 400;
    @include media (">phone", "<=tablet-large") {
      left: 100%
    }
    @include media (">320px", "<=phone") {
      display: none;
    }
    div {
      position: absolute;
      height: 435px;
      width: 337px;
      top: 0;
      right: -480px;
      background-color: $white;
      padding: 50px;
      box-sizing: border-box;
      transform-origin: 100% 50%;
      opacity: 0;
      @include media(">320px", "<=tablet") {
        opacity: 1;
      }
      @include media (">tablet", "<=tablet-large") {
        padding: 50px 30px;
        height: 290px;
        width: 290px;
        top: 215px;
        right: 0;
      }
      p {
        margin: 0 !important;
        color: $grey-light;
        font-family: GeorgiaBold;
        font-size: 1.7em;
        @include media (">tablet", "<=tablet-large") {
          font-size: 1.3em;
        }
        @include media (">320px", "<=tablet") {
          font-size: 1.06em;
        }
      }
      @include media (">320px", "<=tablet") {
        height: 200px;
        width: 210px;
        top: 160px;
        right:0;
        padding: 15px;
      }
    }
  }
  ul{
    margin-left: 16%;
    @include media (">tablet-large", "<=desktop") {
      margin-left: 10%;
    }
    @include media (">phone", "<=tablet-large") {
      margin-left: 45px;
    }
    @include media (">320px", "<=phone") {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
    }
  }
  li {
    display: flex;
    flex-direction: column;
    list-style: none;
    overflow: hidden;
    @include media (">320px", "<=phone") {
      align-items: flex-start;
    }
    img {
      width: 63px;
      margin-bottom: 10px;
      opacity: 0;
      @include media (">320px", "<=tablet-large") {
        margin-bottom: 0;
        width: 63px;
      }
      @include media (">320px", "<=tablet") {
        position: relative;
        width: 40px;
      }
      @include media(">320px", "<=tablet") {
        opacity: 1;
      }
    }
    h2 {
      position: relative;
      display: flex;
      width: 180px;
      color: $white;
      letter-spacing: 5px;
      opacity: 0;
      margin-bottom: 15px;
      flex-direction: column;
      @include media (">320px", "<=tablet-large") {
        flex-direction: row;
        height: 50px;
        align-items: flex-end;
        span {
          margin-bottom: 10px;
          margin-left: 5px;
        }
      }
      @include media (">320px", "<=tablet") {
        font-size: 1.2em;
        opacity: 1;
      }
    }
    p {
      margin-left: 0 !important;
      margin-bottom: 30px;
      opacity: 0;
      @include media (">320px", "<=tablet") {
        font-size: 0.8em;
        opacity: 1;
      }
      @include media (">320px", "<=phone") {
        width: 350px !important;
        @include media (">320px", "<=phone") {
          br {
            content: ' ';
          }
        }
      }
    }
    &:first-child {
      span {
        @include media (">phone", "<=tablet-large") {
          margin-bottom: 5px;
          margin-left: 12px;
        }
        @include media (">320px", "<=tablet") {
          margin-bottom: 0;
        }
      }
    }
    &:nth-child(1), &:nth-child(2){
      @include media (">phone", "<=tablet-large") {
        p {
          width: 60%;
        }
      }
    }
    &:nth-child(2){
      img{
        width: 48px;
        @include media (">320px", "<=tablet") {
          width: 35px;
        }
      }
    }
    &:last-child {
      p {
        &:nth-child(2) {
          width: 610px;
          br {
            content: ' ';
          }
        }
      }
      img{
        width: 32px;
        @include media (">320px", "<=tablet") {
          width: 26px;
        }
      }
    }
  }
  p {
    color: #323A42;
    @include media (">320px", "<=tablet") {
      font-size: 0.8em;
    }
  }
  @include media (">320px", "<=tablet") {
    padding: 10px 0;
    font-family: ProximaNovaBold;
  }
}

.contact-us {
  position: relative;
  display: flex;
  height: 594px;
  flex-direction: column;
  @include background-img(url('img/1500_big_pic_07.jpg'));
  @include media (">desktop", "<=desktop-large") {
    @include background-img(url('img/1200_big_pic_07.jpg'));
  }
  @include media (">tablet-large", "<=desktop") {
    @include background-img(url('img/850_big_pic_07.jpg'));
  }
  @include media (">tablet", "<=tablet-large") {
    @include background-img(url('img/750_big_pic_07.jpg'));
    height: 500px;
  }
  @include media(">320px", "<=tablet") {
    @include background-img(url('img/500_big_pic_07.jpg'));
    height: 500px;
  }
  @include media(">tablet-large", "<=desktop"){
    height: 558px;
  }
  h1 {
    margin-top: 58px;
    margin-bottom: 60px;
    color: $grey-light;
    height: 80px !important;
    @include media (">phone", "<=tablet-large") {
      margin-left: 45px;
      margin-top: 32px;
    }
    @include media (">320px", "<=phone") {
      margin-left: 0;
      margin-top: 32px;
      margin-bottom: 0;
    }
  }
  ul {
    margin-left: 23%;
    opacity: 0;
    @include media (">320px", "<=tablet-large") {
      opacity: 1;
    }
    @include media (">phone", "<=tablet-large") {
      margin-left: auto;
      margin-right: auto;
    }
    @include media (">320px", "<=phone") {
      margin-left: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    li {
      list-style: none;
      font-size: 1.2em;
      &:first-child {
        letter-spacing: 5px;
      }
      a {
        text-decoration: none;
        color: $grey-light;
      }
      &:last-child {
        margin-top: 15px;
        font-size: 2em;
      }
      @include media (">320px", "<=phone") {
        font-size: 0.9em;
        margin-bottom: 5px;
        &:last-child {
          font-size: 1.2em;
        }
      }
    }
  }
}

.newsletter {
  display: flex;
  position: relative;
  height: 594px;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  padding-bottom: 140px;
  @include background-img(url('img/1500_big_pic_08.jpg'));
  @include media (">desktop", "<=desktop-large") {
    @include background-img(url('img/1200_big_pic_08.jpg'));
  }
  @include media (">tablet-large", "<=desktop") {
    @include background-img(url('img/850_big_pic_08.jpg'));
  }
  @include media (">tablet", "<=tablet-large") {
    @include background-img(url('img/750_big_pic_08.jpg'));
  }
  @include media(">320px", "<=tablet") {
    @include background-img(url('img/500_big_pic_08.jpg'));
    height: 500px;
  }
  @include media (">phone", "<=tablet-large") {
    justify-content: flex-end;
  }
  @include media(">tablet-large", "<=desktop"){
    height: 558px;
  }
  h1 {
    position: absolute;
    top: 70px;
    left: 15%;
    margin: 0;
    color: $grey-light;
    height: 80px !important;
    @include media (">phone", "<=tablet-large") {
      width: 628px;
      top: 32px;
      left: 45px;
    }
    @include media (">320px", "<=phone") {
      top: 32px;
      width: 330px;
      left: calc(50% - 165px);
    }
  }
  p, form {
    opacity: 0;
    @include media (">320px", "<=tablet-large") {
      display: flex;
      flex-direction: column;
      width: 80%;
      opacity: 1;
      input {
        width: 100% !important;
      }
      input[type=email] {
        margin-bottom: 15px;
      }
    }
  }
  p {
    color: $grey-light;
    margin-bottom: 140px;
    margin-left: -7%;
    font-size: 1.3em;
    width: 200px;
    @include media (">320px", "<=tablet-large") {
      margin-left: auto;
      margin-right: auto;
      margin-top: 105px;
      margin-bottom: 70px;
      width: 280px;
    }
  }
  form {
    display: flex;
    height: 60px;
    @include media (">320px", "<=tablet-large") {
      margin-top: 60px;
      width: 250px;
      height: 100px;
    }
  }
  input[type=email] {
    width: 378px;
    height: 50px;
    background-color: rgba(0,0,0,0.4);
    border: 2px solid $white;
    font-size: 1em;
    color: $white;
    padding: 0 35px;
    box-sizing: border-box;
    @include media (">320px", "<=tablet-large") {
      margin-bottom: 15px;
      width: 100%;
      font-size: 1.2em;
      letter-spacing: 12px;
    }
  }
  input[type=submit] {
    display: none;
  }
  label {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    width: 156px;
    height: 50px;
    text-transform: uppercase;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0 0 8px 2px rgba(0,0,0,0.3);
    border-color: $white;
    border-width: 0;
    border-style: solid;
    transition: .3s opacity, .1s border-width;
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    margin-left: 15px;
    letter-spacing: 3px;
    font-size: 1em;
    font-family: ProximaNovaBold;
    @include media (">320px", "<=tablet-large") {
      height: 80px;
      padding-left: 0px;
      padding-right: 0px;
      width: 100%;
      margin-left: 0;
    }
    span {
      &:nth-child(2) {
        width: 3px;
      }
      &:last-child {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255,255,255,0.8);
        border: 2px solid rgba(255,255,255,0);
        color: $grey-light;
        transition: opacity .8s, transform .5s;
        transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
        transform: translate3d(0, 0, 0);
        opacity: 1;
        font-size: 0.8em;
      }
    }
    &:hover {
      color: $grey-light;
      background-color: rgba(0,0,0,0.5);
    }
    &::after {
      content: attr(data-text);
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0;
      color: $white;
      -webkit-transform: translate3d(0, 25%, 0);
      transform: translate3d(0, 25%, 0);
      transition: .5s all;
      transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
      font-size: 0.8em;
    }
  }
}

.newsletter form label:hover {
  box-shadow: 0 0 0 0 rgba(0,0,0,0.5);
  border-width: 2px;
}

.newsletter form label:hover::after {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.newsletter form label:hover span:last-child{
  opacity: 0;
  -webkit-transform: translate3d(0, -1000px, 0);
  transform: translate3d(0, -100%, 0);
}

.newsletter form label:hover .border-button {
  background-color: rgba(0,0,0,0);
}

footer {
  position: relative;
  display: flex;
  height: 754px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include background-img(url('img/1500_big_pic_09.jpg'));
  @include media (">desktop", "<=desktop-large") {
    @include background-img(url('img/1200_big_pic_09.jpg'));
  }
  @include media (">tablet-large", "<=desktop") {
    @include background-img(url('img/850_big_pic_09.jpg'));
  }
  @include media (">tablet", "<=tablet-large") {
    @include background-img(url('img/750_big_pic_09.jpg'));
  }
  @include media(">320px", "<=tablet") {
    @include background-img(url('img/500_big_pic_09.jpg'));
    height: 512px;
  }
  @include media(">tablet-large", "<=desktop"){
    height: 572px;
  }
  @include media(">320px", "<=tablet-large") {
    flex-direction: column;
    align-items: center;
    height: 500px;
  }
  h1 {
    position: absolute;
    top: 58px;
    left: 15%;
    margin-left: 0;
    height: 80px !important;
    overflow: hidden;
    @include media(">phone", "<=tablet-large") {
      position: absolute;
      top: 30px;
      left: 45px;
      margin: 0;
    }
    @include media (">320px", "<=phone") {
      width: 350px;
      left: calc(50% - 175px);
      position: absolute;
      top: 32px;
      margin: 0;
    }
  }
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
    margin-left: 15%;
    @include media(">320px", "<=tablet-large") {
      margin-left: 0;
    }
    ul {
      display: flex;
      li {
        opacity: 0;
        list-style: none;
        margin: 23px 3px 40px 3px;
        @include media(">320px", "<=tablet-large") {
          opacity: 1;
        }
        a {
          position: relative;
          display: inline-block;
          overflow: hidden;
          width: 102px;
          height: 102px;
          img {
            cursor: pointer;
            position: absolute;
            top: 0;
            left: 0;
            width: 102px;
            transition: opacity .3s, transform 1s;
            transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
            &.show {
              transform: translate3d(0, 0, 0);
              opacity: 1;
            }
            &.hide {
              transform: translate3d(0, 55%, 0);
              opacity: 0;
            }
          }
        }
      }
    }
    .logo{
      width: 120px;
      opacity: 0;
      @include media(">320px", "<=tablet-large") {
        opacity: 1;
      }
    }
  }
  p{
    position: absolute;
    bottom: 15px;
    left: calc(50% - 400px);
    img {
      width: 800px;
      box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
    }
  }
  .superjoli-button {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    width: 700px;
    height: 40px;
    text-transform: uppercase;
    cursor: pointer;
    overflow: hidden;
    border-color: $white;
    border-width: 0;
    border-style: solid;
    transition: .3s opacity, .1s border-width, .3s box-shadow;
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    margin-top: 200px;
    @include media(">tablet", "<=tablet-large") {
      width: 650px;
    }
    @include media(">320px", "<=desktop") {
      margin-top: 30px;
      font-size: 1em;
    }
    @include media(">phone", "<=tablet") {
      width: 480px;
    }
    @include media(">320px", "<=phone") {
      width: 330px;
    }
    span {
      &:nth-child(2) {
        width: 3px;
      }
      &:last-child {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255,255,255,0.8);
        border: 2px solid rgba(255,255,255,0);
        color: $grey-light;
        transition: opacity .8s, transform .5s;
        transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
        transform: translate3d(0, 0, 0);
        opacity: 1;
        font-size: 0.8em;
        text-transform: none;
      }
    }
    &:hover {
      color: $grey-light;
      background-color: rgba(0,0,0,0.5);
    }
    &::after {
      content: attr(data-text);
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0;
      color: $white;
      -webkit-transform: translate3d(0, 25%, 0);
      transform: translate3d(0, 25%, 0);
      transition: .5s all;
      transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
      font-size: 0.8em;
      @include media(">320px", "<=tablet") {
        content: 'Conception: SUPERJOLI.COM';
      }
    }
  }
}

footer div ul li a:hover .show {
  transform: translate3d(0, -25%, 0);
  opacity: 0;
}

footer div ul li a:hover .hide {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

footer .superjoli-button:hover {
  box-shadow: 0 0 0 0 rgba(0,0,0,0.5);
  border-width: 2px;
}

footer .superjoli-button:hover::after {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

footer .superjoli-button:hover span:last-child{
  opacity: 0;
  -webkit-transform: translate3d(0, -1000px, 0);
  transform: translate3d(0, -100%, 0);
}

footer .superjoli-button:hover .border-button {
  background-color: rgba(0,0,0,0);
}