@import 'media-queries';

@font-face {
  font-family: ProximaNovaLight;
  src: url(fonts/ProximaNova-Light.otf);
  font-weight: lighter;
}

@font-face {
  font-family: ProximaNovaBold;
  src: url(fonts/ProximaNova-Bold.otf);
  font-weight: bold;
}

@font-face {
  font-family: GothamLight;
  src: url(fonts/GOTHAM-LIGHT_0.ttf);
  font-weight: bold;
}

@font-face {
  font-family: GothamThin;
  src: url(fonts/Gotham-Thin.otf);
}

@font-face {
  font-family: GeorgiaBold;
  src: url(fonts/georgiab.ttf);
  font-weight: bold;
}





$white: white;
$brown: #A17644;
$grey-light: #7B8084;

@mixin background-img($parameters) {
  background: $parameters center center no-repeat;
  background-size: cover;
}

* {
  padding: 0;
  margin: 0;
}

html, body {
  width: 100%;
  height: 100%;
  font-size: 17px;
  color: $grey-light;
  font-family: ProximaNovaLight;
}
h1 {
  font-family: GothamThin;
  color: $white;
  font-size: 3.5em;
  line-height: 30em;
  letter-spacing: 0.2em;
  margin-left: 15%;
  height: 250px;
  overflow: hidden;
  transform-origin: 0% 80%;
  @include media(">desktop", "<=desktop-large") {
    margin-left: 105px;
  }
  @include media(">phone", "<=tablet") {
    font-size: 2.2em;
    letter-spacing: 3px;
    margin-top: 10px;
  }
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.brown-content {
  color: $brown;
  font-family: ProximaNovaBold;
}

.grey-content {
  font-family: ProximaNovaBold;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:    $white;
  letter-spacing: 3px;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    $white;
  opacity:  1;
  letter-spacing: 3px;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    $white;
  opacity:  1;
  letter-spacing: 3px;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:    $white;
  letter-spacing: 3px;
}
::-ms-input-placeholder { /* Microsoft Edge */
  color:    $white;
  letter-spacing: 3px;
}

header {
  position: relative;
  display: flex;
  height: 100vh;
  opacity: 0;
  @include background-img(url('img/1500_big_pic_01.jpg'));
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 220px;
  @include media (">desktop", "<=desktop-large") {
    @include background-img(url('img/1200_big_pic_01.jpg'));
  }
  @include media (">tablet-large", "<=desktop") {
    @include background-img(url('img/850_big_pic_01.jpg'));
  }
  @include media (">tablet", "<=tablet-large") {
    @include background-img(url('img/750_big_pic_01.jpg'));
    margin-bottom: 455px;
  }
  @include media(">phone", "<=tablet") {
    @include background-img(url('img/500_big_pic_01.jpg'));
    justify-content: space-between;
    align-items: center;
    margin-bottom: 190px;
  }
  h1 {
    opacity: 0;
    margin: 0 auto 350px auto;
    line-height: 1em !important;
    height: 100px;
    img {
      width: 198px;
    }
    @include media(">phone", "<=tablet") {
      margin-top: 35px;
      img {
        width: 130px;
      }
    }
  }
  .white-container {
    display: flex;
    height: 232px;
    width: 662px;
    background-color: #E0DAD8;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: -170px;
    transform: translate3d(0, 650px, 0);
    @include media (">desktop", "<=desktop-large") {
      margin-bottom: -190px;
    }
    @include media(">phone", "<=tablet-large") {
      background-color: $white;
    }
    @include media (">tablet", "<=tablet-large") {
      width: 100%;
      margin-bottom: -340px;
    }
      div {
        display: flex;
        height: 100%;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        p {
          width: 480px;
          margin: 0 auto;
          line-height: 1.2em;
          font-size: 1em;
          padding-left: 60px;
          box-sizing: border-box;
          &:first-child {
            margin-bottom: 15px;
          }
          @include media(">phone", "<=480px") {
            font-size: 0.6em;
            width: 55%;
          }
          @include media(">480px", "<=tablet") {
            width: 60%;
            font-size: 0.7em;
          }
        }
        @include media(">phone", "<=tablet") {
          height: auto;
        }
      }

    img {
      height: 232px;
      width: 182px;
      @include media (">tablet", "<=tablet-large") {
        height: 386px;
        width: 304px;
      }
    }
    @include media(">phone", "<=tablet") {
      height: auto;
      width: 100%;
    }
  }
}

.the-bamboo-straws {
  height: auto;
  width: 100%;
  @include media (">tablet", "<=tablet-large") {
    margin-top: 30px;
  }
  .the-bamboo-title-container {
    display: flex;
    position: relative;
    height: 594px;
    width: 100%;
    @include background-img(url('img/1500_big_pic_02.jpg'));
    flex-direction: column;
    justify-content: space-between;
    @include media (">desktop", "<=desktop-large") {
      @include background-img(url('img/1200_big_pic_02.jpg'));
    }
    @include media (">tablet-large", "<=desktop") {
      @include background-img(url('img/850_big_pic_02.jpg'));
    }
    @include media (">tablet", "<=tablet-large") {
      @include background-img(url('img/750_big_pic_02.jpg'));
    }
    @include media(">phone", "<=tablet") {
      @include background-img(url('img/500_big_pic_02.jpg'));
    }
    h1 {
      margin-top: 58px;
    }
    h1, p:nth-child(2) {
      margin-left: 14%;
      @include media(">desktop", "<=desktop-large") {
        margin-left: 105px;
      }
      @include media (">tablet", "<=tablet-large") {
        margin-left: 45px;
      }
    }
    p:nth-child(2) {
      position: relative;
      width: 350px;
      font-family: ProximaNovaBold;
      font-size: 0.9em;
      margin-bottom: 70px;
      color: $white;
      opacity: 1;
      overflow: hidden;
      @include media (">tablet", "<=tablet-large") {
        margin-bottom: -75px;
        color: $grey-light;
        font-size: 1.2em;
      }
      &:after {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: $white;
        content: '';
        transform: translate3d(-1000px, 0, 0);
        transition: .8s ease-out;
      }
      span {
        opacity: 0;
        transition: .3s ease-out;
      }
      @include media(">phone", "<=tablet") {
        font-size: 0.8em;
      }
      .afterLeftIn {
        &:after {
          transform: translate3d(-1000px, 0, 0);
        }
        span {
          opacity: 1;
        }
      }
    }
    @include media(">phone", "<=tablet") {
      height: 350px;
    }
  }
  .grey-content-container {
    position: relative;
    height: 0;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    .white-square {
      display: flex;
      position: absolute;
      height: 230px;
      width: 346px;
      right: -300px;
      top: -130px;
      background-color: $white;
      align-items: center;
      justify-content: center;
      font-size: 2em;
      opacity: 1;
      z-index: 400;
      transform: scale(0);
      border: none;
      color: $grey-light;
      @include media (">tablet", "<=tablet-large") {
        height: 198px;
        width: 298px;
        top: -48px;
      }
      @include media(">phone", "<=tablet") {
        height: 115px;
        width: 177px;
        font-size: 1.2em;
        right: 3%;
      }
    }
  }
  .card-container {
    margin-top: 60px;
    margin-bottom: -159px;
    @include media(">tablet", "<=tablet-large") {
      margin-top: 112px;
    }
    .card {
      position: relative;
      display: flex;
      height: 373px;
      width: 248px;
      align-items: flex-end;
      margin: 0 5px;
      transform: translate3d(0, 1000px, 0);
      @include media(">phone", "<=tablet") {
        margin: 0 2px;
      }
      &:first-child {
        @include background-img(url('img/all_small_pic_02.jpg'));
      }
      &:nth-child(2) {
        @include background-img(url('img/all_small_pic_03.jpg'));
      }
      &:last-child {
        @include background-img(url('img/all_small_pic_04.jpg'));
      }
      p {
        margin: 20px;
        padding-top: 7px;
        font-size: 30px;
        color: $white;
        font-family: ProximaNovaLight;
        border-top: 1px solid $white;
        @include media(">phone", "<=480px") {
          font-size: 0.7em;
        }
        @include media(">480px", "<=tablet") {
          font-size: 0.9em;
        }
      }
      @include media(">phone", "<=480px") {
        height: 187px;
        width: 98px;
      }
      @include media(">480px", "<=tablet") {
        height: 257px;
        width: 158px;
      }
    }
    @include media(">phone", "<=tablet") {
      margin-bottom: 0;
    }
  }
}

.the-bamboo-straws .the-bamboo-title-container p:nth-child(2).afterLeftIn:after {
  transform: translate3d(0, 0, 0) !important;
}
.the-bamboo-straws .the-bamboo-title-container p:nth-child(2).afterRightOut span {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
.the-bamboo-straws .the-bamboo-title-container p:nth-child(2).afterRightOut:after {
  transform: translate3d(700px, 0, 0) !important;
}

.purchase {
  height: 956px;
  width: 100%;
  margin-bottom: 40px;
  @include background-img(url('img/1500_big_pic_03.jpg'));
  @include media (">desktop", "<=desktop-large") {
    @include background-img(url('img/1200_big_pic_03.jpg'));
  }
  @include media (">tablet-large", "<=desktop") {
    @include background-img(url('img/850_big_pic_03.jpg'));
  }
  @include media (">tablet", "<=tablet-large") {
    @include background-img(url('img/750_big_pic_03.jpg'));
    height: 449px;
    margin-top: 200px;
  }
  @include media(">phone", "<=tablet") {
    @include background-img(url('img/500_big_pic_03.jpg'));
    height: 356px;
    margin: 42px 0;
  }

}

.the-change {
  .the-change-title-container {
    position: relative;
    height: 594Px;
    @include background-img(url('img/1500_big_pic_04.jpg'));
    padding-top: 10px;
    @include media (">desktop", "<=desktop-large") {
      @include background-img(url('img/1200_big_pic_04.jpg'));
    }
    @include media (">tablet-large", "<=desktop") {
      @include background-img(url('img/850_big_pic_04.jpg'));
    }
    @include media (">tablet", "<=tablet-large") {
      @include background-img(url('img/750_big_pic_04.jpg'));
    }
    @include media(">phone", "<=tablet") {
      @include background-img(url('img/500_big_pic_04.jpg'));
    }
    @include media(">phone", "<=tablet-large") {
      height: 500px;
    }
    h1 {
      margin-top: 58px;
    }
    p {
      position: absolute;
      height: 178px;
      width: 657px;
      bottom: -150px;
      left: calc(50% - 328.5px);
      background-color: $white;
      box-sizing: border-box;
      padding: 45px 100px;
      font-size: 1.1em;
      transform: scale(0);
      @include media(">phone", "<=tablet-large") {
        width: 90%;
        height: 80px;
        left: 5%;
        padding: 15px 20px;
        .break-none {
          content: ' ';
        }
      }
      @include media(">tablet", "<=tablet-large") {
        bottom: -120px;
        font-size: 1.3em;
      }
    }
    @include media(">phone", "<=tablet") {
      height: 394Px;
      @include background-img(url('img/smartphone/m_big_pic_04.jpg'))
    }
  }
  .card-container {
    display: flex;
    height: auto;
    background-color: #f0f0f0;
    margin-top: 20px;
    padding-top: 160px;
    padding-bottom: 40px;
    box-sizing: border-box;
    .card {
      width: 227px;
      margin: 0 5px;
      transform: translate3d(0, 1000px, 0);
      h2 {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: 227px;
        @include background-img(url('img/all_small_pic_05.jpg'));
        padding-bottom: 15px;
        box-sizing: border-box;
        font-family: GothamBold;
        color: $white;
      }
      &:nth-child(2) {
        h2 {
          @include background-img(url('img/all_small_pic_06.jpg'));

        }
      }
      &:last-child {
        h2 {
          @include background-img(url('img/all_small_pic_07.jpg'));
        }
      }
      p {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        background-color: $white;
        height: 162px;
        box-sizing: border-box;
        padding: 25px;
        font-family: ProximaNovaLight;
      }
    }
    @include media(">phone", "<=tablet-large") {
      display: flex;
      width: 100%;
      height: auto;
      background-color: $white;
      flex-direction: column;
      .card {
        display: flex;
        height: 200px;
        width: 100%;
        background-color: #f0f0f0;
        margin: 5px 0;
        h2 {
          width: 200px;
          height: 200px;
        }
        p {
          height: 100%;
          width: calc(100% - 150px);
          align-items: center;
          background-color: rgba(0,0,0,0);
          font-size: 1.3em;
          padding: 25px 55px;
        }
      }
    }
  }
}

.use-of-bamboo-straws {
  width: 100%;
  .title-container {
    height: 594px;
    margin-left: 0 !important;
    margin-bottom: -23px;
    padding-top: 58px;
    @include background-img(url('img/1500_big_pic_05.jpg'));
    @include media (">desktop", "<=desktop-large") {
      @include background-img(url('img/1200_big_pic_05.jpg'));
    }
    @include media (">tablet-large", "<=desktop") {
      @include background-img(url('img/850_big_pic_05.jpg'));

    }
    @include media (">tablet", "<=tablet-large") {
      @include background-img(url('img/750_big_pic_05.jpg'));
    }
    @include media(">phone", "<=tablet") {
      @include background-img(url('img/500_big_pic_05.jpg'));
    }
    @include media(">tablet-large", "<=desktop"){
      height: 558px;
    }
    @include media(">phone", "<=tablet") {
      @include background-img(url('img/smartphone/m_big_pic_05.jpg'));
    }
  }
  .photo-container-1, .photo-container-2 {
    display: flex;
    position: relative;
    height: auto;
    width: 715px;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    @include media (">phone", "<=tablet-large") {
      padding-top: 36px !important;
      img {
        display: none;
      }
      .smallDevicesImg {
        display: inline;
      }
      .displayAllTime {
        display: inline !important;
      }
    }
    div {
      background-color: $white;
      box-sizing: border-box;
      h2 {
        margin-bottom: 5px;
        letter-spacing: 3px;
      }
      p {
        line-height: 1.2em;
      }
    }
    img {
      height: auto;
      margin-left: 6px;
      margin-right: 6px;
      transform: translate3d(0, -900px, 0);
      display: inline;
    }
    .smallDevicesImg {
      display: none;
    }
    @include media(">phone", "<=tablet-large") {
      width: 100%;
      flex-wrap: wrap;
    }
  }
  .photo-container-1 {
    padding-top: 100px;
    div:first-child {
      position: absolute;
      height: 228px;
      width: 228px;
      top: 0;
      left: 26px;
      padding: 30px 50px 0 50px;
      transform: scale(0);
      z-index: 400;
      box-sizing: border-box;
      @include media(">phone", "<=tablet-large") {
        position: relative;
        z-index: 0;
      }
      @include media(">tablet", "<=tablet-large") {
        left: 0;
        top: 0;
        padding: 80px 50px 0 50px;
        height: 350px !important;
        width: 350px !important;
        margin: 5px;
        p {
          font-size: 1.4em;
        }
      }
    }
    img {
      &:nth-child(2) {
        margin-top: 102px;
        width: 270px;
        height: 258px;
      }
      &:nth-child(3) {
        margin-top: -10px;
        width: 185px;
        height: 371px;
      }
      &:last-child {
        margin-top: 34px;
        width: 224px;
        height: 327px;
      }
      @include media(">tablet", "<=tablet-large") {
        min-height: 350px;
        height: auto !important;
        max-height: 500px;
        width: 350px !important;
        margin: 5px !important;
      }
    }

  }
  .photo-container-2 {
    margin: 0 auto;
    flex-wrap: wrap;
    div {
      height: 157px;
      width: 100%;
      padding: 25px 50px 0 50px;
      opacity: 0;
    }
    img {
      width: 223px;
      height: 223px;
    }
  }
}

.about-us {
  position: relative;
  height: 1160px;
  @include background-img(url('img/1500_big_pic_06.jpg'));
  margin-top: 52px;
  padding: 70px 0;
  @include media (">desktop", "<=desktop-large") {
    @include background-img(url('img/1200_big_pic_06.jpg'));
  }
  @include media (">tablet-large", "<=desktop") {
    @include background-img(url('img/850_big_pic_06.jpg'));
  }
  @include media (">tablet", "<=tablet-large") {
    @include background-img(url('img/750_big_pic_06.jpg'));
  }
  @include media(">phone", "<=tablet") {
    @include background-img(url('img/500_big_pic_06.jpg'));
  }
  h1 {
    height: 60px;
    margin-bottom: 100px;
    @include media (">phone", "<=tablet") {
      margin-top: 0;
    }
  }
  .white-container {
    position: absolute;
    width: 2px;
    height: 0;
    left: 50%;
    top: 0;
    z-index: 400;
    div {
      position: absolute;
      height: 435px;
      width: 337px;
      top: 0;
      right: -480px;
      background-color: $white;
      padding: 50px;
      box-sizing: border-box;
      transform-origin: 100% 50%;
      opacity: 0;
      p {
        margin: 0 !important;
        color: $grey-light;
        font-family: GeorgiaBold;
        font-size: 1.7em;
        @include media (">phone", "<=tablet") {
          font-size: 1.06em;
        }
      }
      @include media (">phone", "<=tablet") {
        height: 200px;
        width: 210px;
        top: 160px;
        right:0;
        padding: 15px;
      }
    }
  }
  ul{
    margin-left: 22%;
    @include media (">phone", "<=tablet") {
      margin-left: 30px;
    }
  }
  li {
    display: flex;
    flex-direction: column;
    list-style: none;
    overflow: hidden;
    img {
      width: 63px;
      margin-bottom: 10px;
      opacity: 0;
      @include media (">phone", "<=tablet") {
        position: relative;
        width: 40px;
      }
    }
    h2 {
      position: relative;
      width: 180px;
      color: $white;
      letter-spacing: 5px;
      opacity: 0;
      margin-bottom: 15px;
      @include media (">phone", "<=tablet") {
        font-size: 1.2em;
      }
    }
    p {
      margin-left: 0 !important;
      margin-bottom: 30px;
      opacity: 0;

      @include media (">phone", "<=tablet") {
        font-size: 0.8em;
      }
    }
    &:nth-child(2){
      img{
        width: 48px;
        @include media (">phone", "<=tablet") {
          width: 35px;
        }
      }
    }
    &:last-child {
      img{
        width: 32px;
        @include media (">phone", "<=tablet") {
          width: 26px;
        }
      }
    }
    @include media(">phone", "<=tablet") {
      img  {
        display: none;
      }
    }
  }
  p {
    color: #323A42;
    @include media (">phone", "<=tablet") {
      font-size: 0.8em;
    }
  }
  @include media (">phone", "<=tablet") {
    padding: 10px 0;
    font-family: ProximaNovaBold;
  }
}

.contact-us {
  display: flex;
  height: 594px;
  flex-direction: column;
  @include background-img(url('img/1500_big_pic_07.jpg'));
  @include media (">desktop", "<=desktop-large") {
    @include background-img(url('img/1200_big_pic_07.jpg'));
  }
  @include media (">tablet-large", "<=desktop") {
    @include background-img(url('img/850_big_pic_07.jpg'));
  }
  @include media (">tablet", "<=tablet-large") {
    @include background-img(url('img/750_big_pic_07.jpg'));
  }
  @include media(">phone", "<=tablet") {
    @include background-img(url('img/500_big_pic_07.jpg'));
  }
  @include media(">tablet-large", "<=desktop"){
    height: 558px;
  }
  h1 {
    margin-top: 58px;
    margin-bottom: 60px;
    color: $grey-light;
    height: 60px !important;
  }
  ul {
    margin-left: 23%;
    opacity: 0;
    li {
      list-style: none;
      font-size: 1.2em;
      &:first-child {
        letter-spacing: 5px;
      }
      a {
        text-decoration: none;
        color: $grey-light;
      }
      &:last-child {
        margin-top: 15px;
        font-size: 2em;
      }
    }
  }
  @include media (">phone", "<=tablet") {
    height: 380px;
    h1 {
      margin-top: 20px;
      margin-bottom: 20px;
    }
    ul {
      width: 80%;
      margin-top: 10px;
      margin-left: auto;
      margin-right: auto;
      li {
        font-size: 1em;
        &:last-child {
          margin-top: 15px;
          font-size: 1.2em;
        }
      }
    }
  }
}

.newsletter {
  display: flex;
  position: relative;
  height: 594px;
  @include background-img(url('img/1500_big_pic_08.jpg'));
  @include media (">desktop", "<=desktop-large") {
    @include background-img(url('img/1200_big_pic_08.jpg'));
  }
  @include media (">tablet-large", "<=desktop") {
    @include background-img(url('img/850_big_pic_08.jpg'));
  }
  @include media (">tablet", "<=tablet-large") {
    @include background-img(url('img/750_big_pic_08.jpg'));
  }
  @include media(">phone", "<=tablet") {
    @include background-img(url('img/500_big_pic_08.jpg'));
  }
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  padding-bottom: 140px;
  @include media(">tablet-large", "<=desktop"){
    height: 558px;
  }
  h1 {
    position: absolute;
    top: 70px;
    left: 210Px;
    margin: 0;
    color: $grey-light;
    height: 60px !important;
  }
  p, form {
    opacity: 0;
  }
  p {
    color: $grey-light;
    margin-bottom: 140px;
    margin-left: -7%;
    font-size: 1.3em;
    width: 200px;
  }
  input[type=email] {
    width: 378px;
    height: 50px;
    background-color: rgba(0,0,0,0.4);
    border: 2px solid $white;
    font-size: 1em;
    color: $white;
    padding: 0 35px;
    box-sizing: border-box;
  }
  input[type=submit] {
    width: 156px;
    height: 50px;
    letter-spacing: 3px;
    font-size: 1em;
    background-color: rgba(255,255,255,0.7);
    text-transform: uppercase;
    border: none;
    font-family: ProximaNovaBold;
  }
  @include media (">phone", "<=tablet") {
    padding-bottom: 0;
    h1 {
      top: 10px;
      left: 10%;
    }
    height: 350px;
    p {
      display: none;
    }
    form {
      width: 80%;
      margin: 65px auto 25px auto;
      input {
        margin-top: 25px;
        width: 100% !important;
      }
    }
  }
}

footer {
  position: relative;
  display: flex;
  height: 754px;
  @include background-img(url('img/1500_big_pic_09.jpg'));
  @include media (">desktop", "<=desktop-large") {
    @include background-img(url('img/1200_big_pic_09.jpg'));
  }
  @include media (">tablet-large", "<=desktop") {
    @include background-img(url('img/850_big_pic_09.jpg'));
  }
  @include media (">tablet", "<=tablet-large") {
    @include background-img(url('img/750_big_pic_09.jpg'));
  }
  @include media(">phone", "<=tablet") {
    @include background-img(url('img/500_big_pic_09.jpg'));
  }
  @include media(">tablet-large", "<=desktop"){
    height: 572px;
  }
  h1 {
    margin-top: 58px;
  }
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 250px;
    margin-left: 8%;
    ul {
      display: flex;
      li {
        opacity: 0;
        list-style: none;
        margin: 23px 3px 40px 3px;
        img {
          width: 102px;
        }
      }
    }
    .logo{
      width: 120px;
      opacity: 0;
    }
  }
  p{
    position: absolute;
    bottom: 15px;
    left: calc(50% - 400px);
    img {
      width: 800px;
      box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
    }
  }
  @include media (">phone", "<=tablet") {
    height: 400px;
    @include background-img(url('img/smartphone/m_big_pic_09.jpg'));
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    div {
      margin-top: 80px;
    }
    p {
      height: 30px;
      width: 100%;
      left: 0;
      img {
        width: 100%;
        height: 30px;
      }
    }
  }
}