@font-face {
  font-family: ProximaNovaLight;
  src: url(fonts/ProximaNova-Light.otf);
  font-weight: lighter; }
@font-face {
  font-family: ProximaNovaBold;
  src: url(fonts/ProximaNova-Bold.otf);
  font-weight: bold; }
@font-face {
  font-family: GothamLight;
  src: url(fonts/GOTHAM-LIGHT_0.ttf);
  font-weight: bold; }
@font-face {
  font-family: GothamThin;
  src: url(fonts/Gotham-Thin.otf); }
@font-face {
  font-family: GeorgiaBold;
  src: url(fonts/georgiab.ttf);
  font-weight: bold; }
* {
  padding: 0;
  margin: 0; }

html, body {
  width: 100%;
  height: 100%;
  font-size: 17px;
  color: #7B8084;
  font-family: ProximaNovaLight; }

h1 {
  font-family: GothamThin;
  color: white;
  font-size: 3.5em;
  line-height: 30em;
  letter-spacing: 0.2em;
  margin-left: 15%;
  height: 250px;
  overflow: hidden;
  transform-origin: 0% 80%; }
@media (min-width: 1200px) and (max-width: 1500px) {
  h1 {
    margin-left: 105px; } }

@media (min-width: 321px) and (max-width: 749px) {
  h1 {
    font-size: 2.2em;
    letter-spacing: 3px;
    margin-top: 10px; } }

.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; }

.brown-content {
  color: #A17644;
  font-family: ProximaNovaBold; }

.grey-content {
  font-family: ProximaNovaBold; }

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: white;
  letter-spacing: 3px; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: white;
  opacity: 1;
  letter-spacing: 3px; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: white;
  opacity: 1;
  letter-spacing: 3px; }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
  letter-spacing: 3px; }

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
  letter-spacing: 3px; }

header {
  position: relative;
  display: flex;
  height: 100vh;
  opacity: 0;
  background: url("img/1500_big_pic_01.jpg") center center no-repeat;
  background-size: cover;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 220px; }
@media (min-width: 1200px) and (max-width: 1500px) {
  header {
    background: url("img/1200_big_pic_01.jpg") center center no-repeat;
    background-size: cover; } }

@media (min-width: 950px) and (max-width: 1199px) {
  header {
    background: url("img/850_big_pic_01.jpg") center center no-repeat;
    background-size: cover; } }

@media (min-width: 750px) and (max-width: 949px) {
  header {
    background: url("img/750_big_pic_01.jpg") center center no-repeat;
    background-size: cover;
    margin-bottom: 455px; } }

@media (min-width: 321px) and (max-width: 749px) {
  header {
    background: url("img/500_big_pic_01.jpg") center center no-repeat;
    background-size: cover;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 190px; } }

  header h1 {
    opacity: 0;
    margin: 0 auto 350px auto;
    line-height: 1em !important;
    height: 100px; }
    header h1 img {
      width: 198px; }
@media (min-width: 321px) and (max-width: 749px) {
  header h1 {
    margin-top: 35px; }
    header h1 img {
      width: 130px; } }

  header .white-container {
    display: flex;
    height: 232px;
    width: 662px;
    background-color: #E0DAD8;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: -170px;
    transform: translate3d(0, 650px, 0); }
@media (min-width: 1200px) and (max-width: 1500px) {
  header .white-container {
    margin-bottom: -190px; } }

@media (min-width: 321px) and (max-width: 949px) {
  header .white-container {
    background-color: white; } }

@media (min-width: 750px) and (max-width: 949px) {
  header .white-container {
    width: 100%;
    margin-bottom: -340px; } }

    header .white-container div {
      display: flex;
      height: 100%;
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center; }
      header .white-container div p {
        width: 480px;
        margin: 0 auto;
        line-height: 1.2em;
        font-size: 1em;
        padding-left: 60px;
        box-sizing: border-box; }
        header .white-container div p:first-child {
          margin-bottom: 15px; }
@media (min-width: 321px) and (max-width: 480px) {
  header .white-container div p {
    font-size: 0.6em;
    width: 55%; } }

@media (min-width: 481px) and (max-width: 749px) {
  header .white-container div p {
    width: 60%;
    font-size: 0.7em; } }

@media (min-width: 321px) and (max-width: 749px) {
  header .white-container div {
    height: auto; } }

    header .white-container img {
      height: 232px;
      width: 182px; }
@media (min-width: 750px) and (max-width: 949px) {
  header .white-container img {
    height: 386px;
    width: 304px; } }

@media (min-width: 321px) and (max-width: 749px) {
  header .white-container {
    height: auto;
    width: 100%; } }

.the-bamboo-straws {
  height: auto;
  width: 100%; }
@media (min-width: 750px) and (max-width: 949px) {
  .the-bamboo-straws {
    margin-top: 30px; } }

  .the-bamboo-straws .the-bamboo-title-container {
    display: flex;
    position: relative;
    height: 594px;
    width: 100%;
    background: url("img/1500_big_pic_02.jpg") center center no-repeat;
    background-size: cover;
    flex-direction: column;
    justify-content: space-between; }
@media (min-width: 1200px) and (max-width: 1500px) {
  .the-bamboo-straws .the-bamboo-title-container {
    background: url("img/1200_big_pic_02.jpg") center center no-repeat;
    background-size: cover; } }

@media (min-width: 950px) and (max-width: 1199px) {
  .the-bamboo-straws .the-bamboo-title-container {
    background: url("img/850_big_pic_02.jpg") center center no-repeat;
    background-size: cover; } }

@media (min-width: 750px) and (max-width: 949px) {
  .the-bamboo-straws .the-bamboo-title-container {
    background: url("img/750_big_pic_02.jpg") center center no-repeat;
    background-size: cover; } }

@media (min-width: 321px) and (max-width: 749px) {
  .the-bamboo-straws .the-bamboo-title-container {
    background: url("img/500_big_pic_02.jpg") center center no-repeat;
    background-size: cover; } }

    .the-bamboo-straws .the-bamboo-title-container h1 {
      margin-top: 58px; }
    .the-bamboo-straws .the-bamboo-title-container h1, .the-bamboo-straws .the-bamboo-title-container p:nth-child(2) {
      margin-left: 14%; }
@media (min-width: 1200px) and (max-width: 1500px) {
  .the-bamboo-straws .the-bamboo-title-container h1, .the-bamboo-straws .the-bamboo-title-container p:nth-child(2) {
    margin-left: 105px; } }

@media (min-width: 750px) and (max-width: 949px) {
  .the-bamboo-straws .the-bamboo-title-container h1, .the-bamboo-straws .the-bamboo-title-container p:nth-child(2) {
    margin-left: 45px; } }

    .the-bamboo-straws .the-bamboo-title-container p:nth-child(2) {
      position: relative;
      width: 350px;
      font-family: ProximaNovaBold;
      font-size: 0.9em;
      margin-bottom: 70px;
      color: white;
      opacity: 1;
      overflow: hidden; }
@media (min-width: 750px) and (max-width: 949px) {
  .the-bamboo-straws .the-bamboo-title-container p:nth-child(2) {
    margin-bottom: -75px;
    color: #7B8084;
    font-size: 1.2em; } }

      .the-bamboo-straws .the-bamboo-title-container p:nth-child(2):after {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: white;
        content: '';
        transform: translate3d(-1000px, 0, 0);
        transition: .8s ease-out; }
      .the-bamboo-straws .the-bamboo-title-container p:nth-child(2) span {
        opacity: 0;
        transition: .3s ease-out; }
@media (min-width: 321px) and (max-width: 749px) {
  .the-bamboo-straws .the-bamboo-title-container p:nth-child(2) {
    font-size: 0.8em; } }

      .the-bamboo-straws .the-bamboo-title-container p:nth-child(2) .afterLeftIn:after {
        transform: translate3d(-1000px, 0, 0); }
      .the-bamboo-straws .the-bamboo-title-container p:nth-child(2) .afterLeftIn span {
        opacity: 1; }
@media (min-width: 321px) and (max-width: 749px) {
  .the-bamboo-straws .the-bamboo-title-container {
    height: 350px; } }

  .the-bamboo-straws .grey-content-container {
    position: relative;
    height: 0;
    width: 100px;
    margin-left: auto;
    margin-right: auto; }
    .the-bamboo-straws .grey-content-container .white-square {
      display: flex;
      position: absolute;
      height: 230px;
      width: 346px;
      right: -300px;
      top: -130px;
      background-color: white;
      align-items: center;
      justify-content: center;
      font-size: 2em;
      opacity: 1;
      z-index: 400;
      transform: scale(0);
      border: none;
      color: #7B8084; }
@media (min-width: 750px) and (max-width: 949px) {
  .the-bamboo-straws .grey-content-container .white-square {
    height: 198px;
    width: 298px;
    top: -48px; } }

@media (min-width: 321px) and (max-width: 749px) {
  .the-bamboo-straws .grey-content-container .white-square {
    height: 115px;
    width: 177px;
    font-size: 1.2em;
    right: 3%; } }

  .the-bamboo-straws .card-container {
    margin-top: 60px;
    margin-bottom: -159px; }
@media (min-width: 750px) and (max-width: 949px) {
  .the-bamboo-straws .card-container {
    margin-top: 112px; } }

    .the-bamboo-straws .card-container .card {
      position: relative;
      display: flex;
      height: 373px;
      width: 248px;
      align-items: flex-end;
      margin: 0 5px;
      transform: translate3d(0, 1000px, 0); }
@media (min-width: 321px) and (max-width: 749px) {
  .the-bamboo-straws .card-container .card {
    margin: 0 2px; } }

      .the-bamboo-straws .card-container .card:first-child {
        background: url("img/all_small_pic_02.jpg") center center no-repeat;
        background-size: cover; }
      .the-bamboo-straws .card-container .card:nth-child(2) {
        background: url("img/all_small_pic_03.jpg") center center no-repeat;
        background-size: cover; }
      .the-bamboo-straws .card-container .card:last-child {
        background: url("img/all_small_pic_04.jpg") center center no-repeat;
        background-size: cover; }
      .the-bamboo-straws .card-container .card p {
        margin: 20px;
        padding-top: 7px;
        font-size: 30px;
        color: white;
        font-family: ProximaNovaLight;
        border-top: 1px solid white; }
@media (min-width: 321px) and (max-width: 480px) {
  .the-bamboo-straws .card-container .card p {
    font-size: 0.7em; } }

@media (min-width: 481px) and (max-width: 749px) {
  .the-bamboo-straws .card-container .card p {
    font-size: 0.9em; } }

@media (min-width: 321px) and (max-width: 480px) {
  .the-bamboo-straws .card-container .card {
    height: 187px;
    width: 98px; } }

@media (min-width: 481px) and (max-width: 749px) {
  .the-bamboo-straws .card-container .card {
    height: 257px;
    width: 158px; } }

@media (min-width: 321px) and (max-width: 749px) {
  .the-bamboo-straws .card-container {
    margin-bottom: 0; } }

.the-bamboo-straws .the-bamboo-title-container p:nth-child(2).afterLeftIn:after {
  transform: translate3d(0, 0, 0) !important; }

.the-bamboo-straws .the-bamboo-title-container p:nth-child(2).afterRightOut span {
  transform: translate3d(0, 0, 0);
  opacity: 1; }

.the-bamboo-straws .the-bamboo-title-container p:nth-child(2).afterRightOut:after {
  transform: translate3d(700px, 0, 0) !important; }

.purchase {
  height: 956px;
  width: 100%;
  margin-bottom: 40px;
  background: url("img/1500_big_pic_03.jpg") center center no-repeat;
  background-size: cover; }
@media (min-width: 1200px) and (max-width: 1500px) {
  .purchase {
    background: url("img/1200_big_pic_03.jpg") center center no-repeat;
    background-size: cover; } }

@media (min-width: 950px) and (max-width: 1199px) {
  .purchase {
    background: url("img/850_big_pic_03.jpg") center center no-repeat;
    background-size: cover; } }

@media (min-width: 750px) and (max-width: 949px) {
  .purchase {
    background: url("img/750_big_pic_03.jpg") center center no-repeat;
    background-size: cover;
    height: 449px;
    margin-top: 200px; } }

@media (min-width: 321px) and (max-width: 749px) {
  .purchase {
    background: url("img/500_big_pic_03.jpg") center center no-repeat;
    background-size: cover;
    height: 356px;
    margin: 42px 0; } }

.the-change .the-change-title-container {
  position: relative;
  height: 594Px;
  background: url("img/1500_big_pic_04.jpg") center center no-repeat;
  background-size: cover;
  padding-top: 10px; }
@media (min-width: 1200px) and (max-width: 1500px) {
  .the-change .the-change-title-container {
    background: url("img/1200_big_pic_04.jpg") center center no-repeat;
    background-size: cover; } }

@media (min-width: 950px) and (max-width: 1199px) {
  .the-change .the-change-title-container {
    background: url("img/850_big_pic_04.jpg") center center no-repeat;
    background-size: cover; } }

@media (min-width: 750px) and (max-width: 949px) {
  .the-change .the-change-title-container {
    background: url("img/750_big_pic_04.jpg") center center no-repeat;
    background-size: cover; } }

@media (min-width: 321px) and (max-width: 749px) {
  .the-change .the-change-title-container {
    background: url("img/500_big_pic_04.jpg") center center no-repeat;
    background-size: cover; } }

@media (min-width: 321px) and (max-width: 949px) {
  .the-change .the-change-title-container {
    height: 500px; } }

  .the-change .the-change-title-container h1 {
    margin-top: 58px; }
  .the-change .the-change-title-container p {
    position: absolute;
    height: 178px;
    width: 657px;
    bottom: -150px;
    left: calc(50% - 328.5px);
    background-color: white;
    box-sizing: border-box;
    padding: 45px 100px;
    font-size: 1.1em;
    transform: scale(0); }
@media (min-width: 321px) and (max-width: 949px) {
  .the-change .the-change-title-container p {
    width: 90%;
    height: 80px;
    left: 5%;
    padding: 15px 20px; }
    .the-change .the-change-title-container p .break-none {
      content: ' '; } }

@media (min-width: 750px) and (max-width: 949px) {
  .the-change .the-change-title-container p {
    bottom: -120px;
    font-size: 1.3em; } }

@media (min-width: 321px) and (max-width: 749px) {
  .the-change .the-change-title-container {
    height: 394Px;
    background: url("img/smartphone/m_big_pic_04.jpg") center center no-repeat;
    background-size: cover; } }

.the-change .card-container {
  display: flex;
  height: auto;
  background-color: #f0f0f0;
  margin-top: 20px;
  padding-top: 160px;
  padding-bottom: 40px;
  box-sizing: border-box; }
  .the-change .card-container .card {
    width: 227px;
    margin: 0 5px;
    transform: translate3d(0, 1000px, 0); }
    .the-change .card-container .card h2 {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      height: 227px;
      background: url("img/all_small_pic_05.jpg") center center no-repeat;
      background-size: cover;
      padding-bottom: 15px;
      box-sizing: border-box;
      font-family: GothamBold;
      color: white; }
    .the-change .card-container .card:nth-child(2) h2 {
      background: url("img/all_small_pic_06.jpg") center center no-repeat;
      background-size: cover; }
    .the-change .card-container .card:last-child h2 {
      background: url("img/all_small_pic_07.jpg") center center no-repeat;
      background-size: cover; }
    .the-change .card-container .card p {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      background-color: white;
      height: 162px;
      box-sizing: border-box;
      padding: 25px;
      font-family: ProximaNovaLight; }
@media (min-width: 321px) and (max-width: 949px) {
  .the-change .card-container {
    display: flex;
    width: 100%;
    height: auto;
    background-color: white;
    flex-direction: column; }
    .the-change .card-container .card {
      display: flex;
      height: 200px;
      width: 100%;
      background-color: #f0f0f0;
      margin: 5px 0; }
      .the-change .card-container .card h2 {
        width: 200px;
        height: 200px; }
      .the-change .card-container .card p {
        height: 100%;
        width: calc(100% - 150px);
        align-items: center;
        background-color: rgba(0, 0, 0, 0);
        font-size: 1.3em;
        padding: 25px 55px; } }

.use-of-bamboo-straws {
  width: 100%; }
  .use-of-bamboo-straws .title-container {
    height: 594px;
    margin-left: 0 !important;
    margin-bottom: -23px;
    padding-top: 58px;
    background: url("img/1500_big_pic_05.jpg") center center no-repeat;
    background-size: cover; }
@media (min-width: 1200px) and (max-width: 1500px) {
  .use-of-bamboo-straws .title-container {
    background: url("img/1200_big_pic_05.jpg") center center no-repeat;
    background-size: cover; } }

@media (min-width: 950px) and (max-width: 1199px) {
  .use-of-bamboo-straws .title-container {
    background: url("img/850_big_pic_05.jpg") center center no-repeat;
    background-size: cover; } }

@media (min-width: 750px) and (max-width: 949px) {
  .use-of-bamboo-straws .title-container {
    background: url("img/750_big_pic_05.jpg") center center no-repeat;
    background-size: cover; } }

@media (min-width: 321px) and (max-width: 749px) {
  .use-of-bamboo-straws .title-container {
    background: url("img/500_big_pic_05.jpg") center center no-repeat;
    background-size: cover; } }

@media (min-width: 950px) and (max-width: 1199px) {
  .use-of-bamboo-straws .title-container {
    height: 558px; } }

@media (min-width: 321px) and (max-width: 749px) {
  .use-of-bamboo-straws .title-container {
    background: url("img/smartphone/m_big_pic_05.jpg") center center no-repeat;
    background-size: cover; } }

  .use-of-bamboo-straws .photo-container-1, .use-of-bamboo-straws .photo-container-2 {
    display: flex;
    position: relative;
    height: auto;
    width: 715px;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden; }
@media (min-width: 321px) and (max-width: 949px) {
  .use-of-bamboo-straws .photo-container-1, .use-of-bamboo-straws .photo-container-2 {
    padding-top: 36px !important; }
    .use-of-bamboo-straws .photo-container-1 img, .use-of-bamboo-straws .photo-container-2 img {
      display: none; }
    .use-of-bamboo-straws .photo-container-1 .smallDevicesImg, .use-of-bamboo-straws .photo-container-2 .smallDevicesImg {
      display: inline; }
    .use-of-bamboo-straws .photo-container-1 .displayAllTime, .use-of-bamboo-straws .photo-container-2 .displayAllTime {
      display: inline !important; } }

    .use-of-bamboo-straws .photo-container-1 div, .use-of-bamboo-straws .photo-container-2 div {
      background-color: white;
      box-sizing: border-box; }
      .use-of-bamboo-straws .photo-container-1 div h2, .use-of-bamboo-straws .photo-container-2 div h2 {
        margin-bottom: 5px;
        letter-spacing: 3px; }
      .use-of-bamboo-straws .photo-container-1 div p, .use-of-bamboo-straws .photo-container-2 div p {
        line-height: 1.2em; }
    .use-of-bamboo-straws .photo-container-1 img, .use-of-bamboo-straws .photo-container-2 img {
      height: auto;
      margin-left: 6px;
      margin-right: 6px;
      transform: translate3d(0, -900px, 0);
      display: inline; }
    .use-of-bamboo-straws .photo-container-1 .smallDevicesImg, .use-of-bamboo-straws .photo-container-2 .smallDevicesImg {
      display: none; }
@media (min-width: 321px) and (max-width: 949px) {
  .use-of-bamboo-straws .photo-container-1, .use-of-bamboo-straws .photo-container-2 {
    width: 100%;
    flex-wrap: wrap; } }

  .use-of-bamboo-straws .photo-container-1 {
    padding-top: 100px; }
    .use-of-bamboo-straws .photo-container-1 div:first-child {
      position: absolute;
      height: 228px;
      width: 228px;
      top: 0;
      left: 26px;
      padding: 30px 50px 0 50px;
      transform: scale(0);
      z-index: 400;
      box-sizing: border-box; }
@media (min-width: 321px) and (max-width: 949px) {
  .use-of-bamboo-straws .photo-container-1 div:first-child {
    position: relative;
    z-index: 0; } }

@media (min-width: 750px) and (max-width: 949px) {
  .use-of-bamboo-straws .photo-container-1 div:first-child {
    left: 0;
    top: 0;
    padding: 80px 50px 0 50px;
    height: 350px !important;
    width: 350px !important;
    margin: 5px; }
    .use-of-bamboo-straws .photo-container-1 div:first-child p {
      font-size: 1.4em; } }

    .use-of-bamboo-straws .photo-container-1 img:nth-child(2) {
      margin-top: 102px;
      width: 270px;
      height: 258px; }
    .use-of-bamboo-straws .photo-container-1 img:nth-child(3) {
      margin-top: -10px;
      width: 185px;
      height: 371px; }
    .use-of-bamboo-straws .photo-container-1 img:last-child {
      margin-top: 34px;
      width: 224px;
      height: 327px; }
@media (min-width: 750px) and (max-width: 949px) {
  .use-of-bamboo-straws .photo-container-1 img {
    min-height: 350px;
    height: auto !important;
    max-height: 500px;
    width: 350px !important;
    margin: 5px !important; } }

  .use-of-bamboo-straws .photo-container-2 {
    margin: 0 auto;
    flex-wrap: wrap; }
    .use-of-bamboo-straws .photo-container-2 div {
      height: 157px;
      width: 100%;
      padding: 25px 50px 0 50px;
      opacity: 0; }
    .use-of-bamboo-straws .photo-container-2 img {
      width: 223px;
      height: 223px; }

.about-us {
  position: relative;
  height: 1160px;
  background: url("img/1500_big_pic_06.jpg") center center no-repeat;
  background-size: cover;
  margin-top: 52px;
  padding: 70px 0; }
@media (min-width: 1200px) and (max-width: 1500px) {
  .about-us {
    background: url("img/1200_big_pic_06.jpg") center center no-repeat;
    background-size: cover; } }

@media (min-width: 950px) and (max-width: 1199px) {
  .about-us {
    background: url("img/850_big_pic_06.jpg") center center no-repeat;
    background-size: cover; } }

@media (min-width: 750px) and (max-width: 949px) {
  .about-us {
    background: url("img/750_big_pic_06.jpg") center center no-repeat;
    background-size: cover; } }

@media (min-width: 321px) and (max-width: 749px) {
  .about-us {
    background: url("img/500_big_pic_06.jpg") center center no-repeat;
    background-size: cover; } }

  .about-us h1 {
    height: 60px;
    margin-bottom: 100px; }
@media (min-width: 321px) and (max-width: 749px) {
  .about-us h1 {
    margin-top: 0; } }

  .about-us .white-container {
    position: absolute;
    width: 2px;
    height: 0;
    left: 50%;
    top: 0;
    z-index: 400; }
    .about-us .white-container div {
      position: absolute;
      height: 435px;
      width: 337px;
      top: 0;
      right: -480px;
      background-color: white;
      padding: 50px;
      box-sizing: border-box;
      transform-origin: 100% 50%;
      opacity: 0; }
      .about-us .white-container div p {
        margin: 0 !important;
        color: #7B8084;
        font-family: GeorgiaBold;
        font-size: 1.7em; }
@media (min-width: 321px) and (max-width: 749px) {
  .about-us .white-container div p {
    font-size: 1.06em; } }

@media (min-width: 321px) and (max-width: 749px) {
  .about-us .white-container div {
    height: 200px;
    width: 210px;
    top: 160px;
    right: 0;
    padding: 15px; } }

  .about-us ul {
    margin-left: 22%; }
@media (min-width: 321px) and (max-width: 749px) {
  .about-us ul {
    margin-left: 30px; } }

  .about-us li {
    display: flex;
    flex-direction: column;
    list-style: none;
    overflow: hidden; }
    .about-us li img {
      width: 63px;
      margin-bottom: 10px;
      opacity: 0; }
@media (min-width: 321px) and (max-width: 749px) {
  .about-us li img {
    position: relative;
    width: 40px; } }

    .about-us li h2 {
      position: relative;
      width: 180px;
      color: white;
      letter-spacing: 5px;
      opacity: 0;
      margin-bottom: 15px; }
@media (min-width: 321px) and (max-width: 749px) {
  .about-us li h2 {
    font-size: 1.2em; } }

    .about-us li p {
      margin-left: 0 !important;
      margin-bottom: 30px;
      opacity: 0; }
@media (min-width: 321px) and (max-width: 749px) {
  .about-us li p {
    font-size: 0.8em; } }

    .about-us li:nth-child(2) img {
      width: 48px; }
@media (min-width: 321px) and (max-width: 749px) {
  .about-us li:nth-child(2) img {
    width: 35px; } }

    .about-us li:last-child img {
      width: 32px; }
@media (min-width: 321px) and (max-width: 749px) {
  .about-us li:last-child img {
    width: 26px; } }

@media (min-width: 321px) and (max-width: 749px) {
  .about-us li img {
    display: none; } }

  .about-us p {
    color: #323A42; }
@media (min-width: 321px) and (max-width: 749px) {
  .about-us p {
    font-size: 0.8em; } }

@media (min-width: 321px) and (max-width: 749px) {
  .about-us {
    padding: 10px 0;
    font-family: ProximaNovaBold; } }

.contact-us {
  display: flex;
  height: 594px;
  flex-direction: column;
  background: url("img/1500_big_pic_07.jpg") center center no-repeat;
  background-size: cover; }
@media (min-width: 1200px) and (max-width: 1500px) {
  .contact-us {
    background: url("img/1200_big_pic_07.jpg") center center no-repeat;
    background-size: cover; } }

@media (min-width: 950px) and (max-width: 1199px) {
  .contact-us {
    background: url("img/850_big_pic_07.jpg") center center no-repeat;
    background-size: cover; } }

@media (min-width: 750px) and (max-width: 949px) {
  .contact-us {
    background: url("img/750_big_pic_07.jpg") center center no-repeat;
    background-size: cover; } }

@media (min-width: 321px) and (max-width: 749px) {
  .contact-us {
    background: url("img/500_big_pic_07.jpg") center center no-repeat;
    background-size: cover; } }

@media (min-width: 950px) and (max-width: 1199px) {
  .contact-us {
    height: 558px; } }

  .contact-us h1 {
    margin-top: 58px;
    margin-bottom: 60px;
    color: #7B8084;
    height: 60px !important; }
  .contact-us ul {
    margin-left: 23%;
    opacity: 0; }
    .contact-us ul li {
      list-style: none;
      font-size: 1.2em; }
      .contact-us ul li:first-child {
        letter-spacing: 5px; }
      .contact-us ul li a {
        text-decoration: none;
        color: #7B8084; }
      .contact-us ul li:last-child {
        margin-top: 15px;
        font-size: 2em; }
@media (min-width: 321px) and (max-width: 749px) {
  .contact-us {
    height: 380px; }
    .contact-us h1 {
      margin-top: 20px;
      margin-bottom: 20px; }
    .contact-us ul {
      width: 80%;
      margin-top: 10px;
      margin-left: auto;
      margin-right: auto; }
      .contact-us ul li {
        font-size: 1em; }
        .contact-us ul li:last-child {
          margin-top: 15px;
          font-size: 1.2em; } }

.newsletter {
  display: flex;
  position: relative;
  height: 594px;
  background: url("img/1500_big_pic_08.jpg") center center no-repeat;
  background-size: cover;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  padding-bottom: 140px; }
@media (min-width: 1200px) and (max-width: 1500px) {
  .newsletter {
    background: url("img/1200_big_pic_08.jpg") center center no-repeat;
    background-size: cover; } }

@media (min-width: 950px) and (max-width: 1199px) {
  .newsletter {
    background: url("img/850_big_pic_08.jpg") center center no-repeat;
    background-size: cover; } }

@media (min-width: 750px) and (max-width: 949px) {
  .newsletter {
    background: url("img/750_big_pic_08.jpg") center center no-repeat;
    background-size: cover; } }

@media (min-width: 321px) and (max-width: 749px) {
  .newsletter {
    background: url("img/500_big_pic_08.jpg") center center no-repeat;
    background-size: cover; } }

@media (min-width: 950px) and (max-width: 1199px) {
  .newsletter {
    height: 558px; } }

  .newsletter h1 {
    position: absolute;
    top: 70px;
    left: 210Px;
    margin: 0;
    color: #7B8084;
    height: 60px !important; }
  .newsletter p, .newsletter form {
    opacity: 0; }
  .newsletter p {
    color: #7B8084;
    margin-bottom: 140px;
    margin-left: -7%;
    font-size: 1.3em;
    width: 200px; }
  .newsletter input[type=email] {
    width: 378px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.4);
    border: 2px solid white;
    font-size: 1em;
    color: white;
    padding: 0 35px;
    box-sizing: border-box; }
  .newsletter input[type=submit] {
    width: 156px;
    height: 50px;
    letter-spacing: 3px;
    font-size: 1em;
    background-color: rgba(255, 255, 255, 0.7);
    text-transform: uppercase;
    border: none;
    font-family: ProximaNovaBold; }
@media (min-width: 321px) and (max-width: 749px) {
  .newsletter {
    padding-bottom: 0;
    height: 350px; }
    .newsletter h1 {
      top: 10px;
      left: 10%; }
    .newsletter p {
      display: none; }
    .newsletter form {
      width: 80%;
      margin: 65px auto 25px auto; }
      .newsletter form input {
        margin-top: 25px;
        width: 100% !important; } }

footer {
  position: relative;
  display: flex;
  height: 754px;
  background: url("img/1500_big_pic_09.jpg") center center no-repeat;
  background-size: cover; }
@media (min-width: 1200px) and (max-width: 1500px) {
  footer {
    background: url("img/1200_big_pic_09.jpg") center center no-repeat;
    background-size: cover; } }

@media (min-width: 950px) and (max-width: 1199px) {
  footer {
    background: url("img/850_big_pic_09.jpg") center center no-repeat;
    background-size: cover; } }

@media (min-width: 750px) and (max-width: 949px) {
  footer {
    background: url("img/750_big_pic_09.jpg") center center no-repeat;
    background-size: cover; } }

@media (min-width: 321px) and (max-width: 749px) {
  footer {
    background: url("img/500_big_pic_09.jpg") center center no-repeat;
    background-size: cover; } }

@media (min-width: 950px) and (max-width: 1199px) {
  footer {
    height: 572px; } }

  footer h1 {
    margin-top: 58px; }
  footer div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 250px;
    margin-left: 8%; }
    footer div ul {
      display: flex; }
      footer div ul li {
        opacity: 0;
        list-style: none;
        margin: 23px 3px 40px 3px; }
        footer div ul li img {
          width: 102px; }
    footer div .logo {
      width: 120px;
      opacity: 0; }
  footer p {
    position: absolute;
    bottom: 15px;
    left: calc(50% - 400px); }
    footer p img {
      width: 800px;
      box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2); }
@media (min-width: 321px) and (max-width: 749px) {
  footer {
    height: 400px;
    background: url("img/smartphone/m_big_pic_09.jpg") center center no-repeat;
    background-size: cover;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; }
    footer div {
      margin-top: 80px; }
    footer p {
      height: 30px;
      width: 100%;
      left: 0; }
      footer p img {
        width: 100%;
        height: 30px; } }

/*# sourceMappingURL=style.css.map */
